/* create_post.html */

.post-header {
    max-width: 402px;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
}

.header-inner {
    margin: 0 auto;
    padding: 8px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.cancel {
    color: white;
    background-color: #6BA4F7;
    padding: 7px 28px;
    font-size: 16px;
    border-radius: 30px;
    text-decoration: none;
    border: 2px solid #6BA4F7;
    transition: all 0.3s ease;
}

.cancel-button:hover {
    background-color: #ffffff;
    color: #6BA4F7;
}

.textarea-wrapper {
    position: relative;
    max-width: 346px;
    margin: 0 auto;
}

textarea {
    outline: none;
    resize: none;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.new-post-form > textarea::placeholder {
    color: #999999;
}

.new-post-form > textarea::placeholder {
    color: #999999
}

.new-post-form textarea {
    max-width: 346px;
    height: 130px;
    width: 100%;
    border: 1px solid #e0e0e0;
    text-align: center;
    padding: 55px 16px 16px 16px;
    box-sizing: border-box;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.char-count-display {
    position: absolute;
    bottom: 12px;
    right: 16px;
    font-size: 13px;
    color: #999999;
}

.new-post-form textarea:focus {
    border-color: #6BA4F7;
    box-shadow: 0 0 rgba(107, 164, 247, 0.4);
}

.new-post-container {
    width: 100%;
    max-width: 500px;
    margin: 200px auto 0;
    padding: 0 20px;
    box-sizing: border-box;
}

.btn-primary {
    margin: 50px 0;
    border-radius: 10px;
    padding: 20px 0;
    border: 2px solid #6BA4F7;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #ffffff;
    color: #6BA4F7;
}