{% extends "base.html" %}

{% block title %}マイページ - SNS App{% endblock %}
{% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/my_page.css') }}">
{% endblock %}
{% block page_js %}
<script
  defer
  src="{{ url_for('static', filename='js/my_page.js')}}">
</script>
{% endblock %}

{% block content %}
<div class = "page-my_page">
  <!-- メイン -->
  <main>
  <h2>{{ user_name }} のページ</h2>    
    {% if posts and posts|length > 0 %}
    <section class="post-list app-scroll-area">
      {% for post in posts %}
      <div class="post-card">
        <div class="post-content">
          <div class="post-header">
            <div class="post-user">
              <span class="display-name">{{ post.user_name }}</span>
            </div>
            <div class="post-header-actions">
              <div class="post-time">{{ post.created_at }}</div>
              <!-- 削除ボタン -->
              <form
                class="delete-form"
                action="{{ url_for('delete_post', post_id=post.id) }}"
                method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button class="btn-delete"
                  type="button"
                  onclick="openDeleteConfirm(this)"
                  >
                    🗑️
                  </button>
                
                <!-- 投稿カードに重ねる確認画面 -->
                <div class="delete-confirm">
                  <div class="delete-confirm-dialog">
                    <p>本当に消していいですか？</p>

                    <div class="delete-confirm-buttons">
                      <button class="btn-delete-yes" type="submit">はい</button>

                      <button
                        class="btn-delete-no"
                        type="button"
                        onclick="closeDeleteConfirm(this)"
                      >
                        いいえ
                    </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="post-body">
            {{ post.contents }}
          </div>
          <div class="post-footer">
            <div class="post-actions">
              <!-- いいね（Good）ボタン -->
              <button class="post-btn post-btn-good" disabled title="">
                  いいね 👍 <span class="count">{{ post.good_count }}</span>
              </button>
              <!-- 便乗（Study）ボタン -->
              <button class="post-btn post-btn-study" disabled title="ログインすると押せます">
                  便乗！📖 <span class="count">{{ post.study_count }}</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </section>
    {% else %}
    <div class="empty">
      <p>投稿がありません。</p>
    </div>
    {% endif %}
  </main>
</div>
{% endblock %}
